*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.clock{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  padding: 1rem;
}
.clock h1{
  width: 100%;
  margin: auto;
  text-align: center;
  color: white;
  padding: 1em;
  background: rgba(255, 6, 6, 0.678);
  border-radius: 10px;
}
.clock p{
  font-size: 2em;
  font-weight: bold;
}
.hours{
  color:rgb(38, 115, 6);
}
.minutes{
  color: rgba(36, 105, 6, 0.671);
}
.seconds{
  
  color: rgba(29, 75, 9, 0.388);
}
